@font-face {
    font-family: "carto";
    src: url("/easy/public/fonts/CartoGothicStd-Book-webfont.woff") format('woff');
}

@font-face {
    font-family: "carto";
    src: url("/easy/public/fonts/CartoGothicStd-Bold-webfont.woff") format('woff');
    font-weight: bold
}

a {
    text-decoration: none !important
}

html, body {
    height: 100%;
    width: 100%;
}

html,
body,
.popover-content,
h1, h2, h3, h4, h5, h6 {
    font-family: carto, Arial, Helvetica, sans-serif
}

html {
    overflow-y: scroll;
}

button {
    outline: none !important
}

.modal {
    overflow-y: auto; /* Hide scrollbar when not overflowing */
}

.alert {
    margin-top:20px;
    margin-bottom:20px;
}

.badge {
    background-color: #ed9c28 !important
}

.navbar-brand {
    font-family: cartoBold, Arial, Helvetica, sans-serif
}

/* For login page */
#login .panel {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

#login .form-input, #login #bottom-inputs {
    margin-top: 20px;
    width: 300px;
    margin-left:auto;
    margin-right:auto
}

#login {
    min-height: 100%;
    width: 100%;
    display:table;
    background-color: #fcfcfc
}

#login-inner {
    display:table-cell;
    vertical-align:middle
}

#users-table tbody tr,
#table-courses tbody tr,
#panel-cores tbody tr,
#panel-place-outs tbody tr,
#panel-prereqs tbody tr {
    cursor: pointer;
}

#user-editor .input-group {
    margin-bottom:20px;
}

#new-course .input-group,
div#feedback .input-group {
    width:400px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px
}

.main-row {
    margin-left: auto !important;
    margin-right: auto !important;
}

/* Force popover to show content in one line */
.popover {
    white-space: nowrap !important
}

.bold {
    font-family: cartoBold, Arial, Helvetica, sans-serif !important
}

.glyphicon {
    opacity: 0.8 !important
}

#program-manager-page .glyphicon {
    margin-left: 10px;
    margin-right: 5px;
}

.token-input {
    width: 140px !important;
}

#program-manager-page .table>tbody>tr>td {
    border-top: 0px;
}

#program-manager-page .table .index {
    padding-top: 12px;
}

.user-selected td {
    background-color: #d9edf7 !important;
}

#panel-import:hover,
#panel-filter:hover {
    opacity: 1
}

table#users-table:not(.admin-table) tbody,
table#users-table:not(.admin-table) thead {
    display: block;
}

table#users-table tbody {
    overflow-y: auto;
    overflow-x: hidden;
}

#users-table tbody tr td:nth-child(1),
#users-table thead tr th:nth-child(1),
#users-table tbody tr td:nth-child(2),
#users-table thead tr th:nth-child(2),
#users-table tbody tr td:nth-child(3),
#users-table thead tr th:nth-child(3),
#users-table tbody tr td:nth-child(4),
#users-table thead tr th:nth-child(4),
#users-table thead tr th:nth-child(5),
#users-table tbody tr td:nth-child(5) {
    width: 50% !important;
}

/* User manager page small grade requirement text */
.grade-req {
    float: right;
    color: gray;
}

/* Elements with this class will have its content forced in one line */
.nowrap-line {
    white-space: nowrap;
    overflow: hidden
}

/* Has unread message icon: set margin-left to the numbers badge */
.has_unread_msg {
    margin-left: 5px;
}

.color-block {
    height: 15px;
    width: 15px;
    margin-right: 10px
}

.courses-remaining {
    background-color: rgba(0, 0, 0, 0);
    color: gray;
    float: left;
    text-align: center;
    line-height: 20px;
    font-size: 13px
}

.popover-content, .popover-content .body {
    width: 100%;
}

.popover-content div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:pre-wrap;
}

.center-text {
    text-align: center
}

/* Only clearly show Delete elective button when hovered on that row */
#preapproved-electives-table .btn-xs,
#elective-statistics-table .btn-xs {
    opacity: 0.4
}

#preapproved-electives-table tr:hover .btn-xs,
#elective-statistics-table tr:hover .btn-xs {
    opacity: 1
}

#student-courses-table th {
    white-space: nowrap
}

#student-courses-table td:nth-child(2) {
    white-space: nowrap
}

#student-courses-table td,
#student-courses-table th {
    border-right: 1px solid #ddd;
}

.one-line {
    white-space: nowrap;
    overflow: hidden
}